<h1><%= @application.title %></h1>
<p><%= @application.description %></p>
<p><%= @application.github_link %></p>
<% if authorize_application(@app) %>
  <div>
    <a href="/applications/<%= @application.id %>/edit"><button>Edit</button></a> 
    <form method="post" action="/applications/<%= @application.id %>" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>
<% end %>
